{% extends "base.html.twig" %}

{% block content %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec molestie dolor. Morbi iaculis lacus turpis, non ultricies libero aliquam eget. Maecenas non justo eros. Cras sodales luctus nisl, vel suscipit ligula scelerisque sed. Sed vel iaculis est. Quisque faucibus vel felis non porta. Maecenas lectus urna, molestie et rutrum ac, rutrum a justo. Phasellus tempus diam ut facilisis vestibulum. Quisque nibh massa, mollis quis enim ut, varius porta elit.</p>
    <p>Aenean finibus lorem quis diam sodales mollis. Vivamus et arcu blandit, dictum dolor ut, luctus risus. Nam non laoreet nisi. Integer magna felis, consectetur in consectetur quis, viverra sit amet turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ac interdum nulla. Ut posuere imperdiet ipsum, eleifend feugiat nibh varius vitae.</p>
{% endblock %}