{% extends "base.twig" %}

{% block content %}
    <h1>Greetings!</h1>
    <p>Welcome to the Radical framework showcase. This page is rendered using Twig templates and routed using Bramus' Router.
        I have been led to believe your name is <b>{{ name }}</b>, if that is correct, then hello <b>{{ name }}</b>!
    </p>
{% endblock %}